<% layout('layouts/boilerplate')%>
<div class="container .d-flex justify-content-center align-items-center mb-4">
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title mb-3">Edit Account</h2>
        <form
          action="/users/<%= foundUser._id %>?_method=PUT"
          method="POST"
          class="validated-form"
          novalidate
        >
          <div class="form-group mb-3">
            <label class="form-label" for="firstname">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              name="user[firstname]"
              placeholder="Enter your first name"
              autofocus
              required
              minlength="4"
              value="<%= foundUser.firstname %>"
            />
            <div class="invalid-feedback">
              First Name must be at least 4 characters
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="lastname">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              name="user[lastname]"
              placeholder="Enter your last name"
              autofocus
              minlength="4"
              required
              value="<%= foundUser.lastname %>"
            />
            <div class="invalid-feedback">
              Last Name must be at least 4 characters
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="user[username]"
              placeholder="Enter a username"
              autofocus
              minlength="6"
              required
              value="<%= foundUser.username %>"
            />
            <div class="invalid-feedback">
              Username must be at least 6 characters long
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="user[email]"
              placeholder="jane@gmail.com"
              required
              value="<%= foundUser.email %>"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="avatar">Avatar url</label>
            <input
              type="text"
              class="form-control"
              id="avatar"
              name="user[avatar]"
              placeholder="Enter your avatar url"
              pattern="^(http[s]?:\/\/|data:image\/).*$"
              autofocus
              value="<%= foundUser.avatar %>"
            />
            <div class="invalid-feedback">Please enter a valid url</div>
          </div>

          <div class="form-group text-center mb-3">
            <button class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
