<% layout('layouts/boilerplate')%>
<style>
  #avatar-img {
    height: 12.5em;
    width: 12.5em;
  }
</style>

<div class="container">
  <h2 class="text-primary"><%=foundUser.firstname%> <%=foundUser.lastname%></h2>
  <img
    class="img-thumbnail my-3"
    id="avatar-img"
    src="<%=foundUser.avatar%>"
    alt="user display image"
  />
  <h4>Books read: TBD</h4>
  <h3>User Reviews:</h3>
  <% if (userReviews && userReviews.length > 0) { %>
  <ul>
    <% userReviews.forEach((review) => { %>

    <li>
      <% console.log("Review Object:", review); console.log("Review Rating:",
      review.rating); console.log("Review Body:", review.body); %>

      <strong>Rating: <%= review.rating %></strong>
      <p><%= review.body %></p>
    </li>
    <% }); %> <% } else { %>
    <p>No reviews available for this user.</p>
    <% } %>
  </ul>
</div>
