<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/starheart-rating.css" />
<link rel="stylesheet" href="/stylesheets/userProfile.css" />
<div class="container mb-5">
  <!-- Edit Profile/Change Password buttons -->
  <div class="text-center text-md-end">
    <%if(currentUser && currentUser._id.equals(foundUser._id)){%>
    <a href="/users/<%= foundUser._id %>/edit" class="btn btn-sm btn-secondary"
      >Edit Profile</a
    >
    <a
      href="/users/<%= foundUser._id %>/changepassword"
      class="btn btn-sm btn-primary"
      >Change Password</a
    >
    <%}%>
  </div>
  <!-- Horizonatal card User Profile -->
  <div class="card shadow horizontal-user-card my-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="<%= foundUser.avatar ? foundUser.avatar : process.env.DEFAULT_AVATAR_URL %>"
          class="img-fluid rounded-start"
          alt="user display image"
          onerror="this.onerror=null; this.src = '<%= process.env.DEFAULT_AVATAR_URL %>'"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title py-sm-1 py-md-3">
            <strong><%=foundUser.firstname%> <%=foundUser.lastname%></strong>
          </h1>
          <p class="h6 mb-1">
            <strong>Username:</strong> <%= foundUser.username %>
          </p>
          <p class="card-text">
            <strong>Books Read:</strong>
            <span class="books-read-count"><%= booksReadCount %></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Books Read Bookshelf -->
  <div>
    <h3 class="mt-5 mb-2 mb-md-3"><strong>Read Bookshelf:</strong></h3>
    <div class="row g-3 my-2">
      <% if (foundUser.bookshelf.length === 0) { %> <% if (currentUser &&
      currentUser._id.equals(foundUser._id)) { %>
      <p>Your bookshelf is currently empty. <a href="/books">Add Books</a></p>
      <% } else { %>
      <p>This user's bookshelf is currently empty.</p>
      <% } %> <% } else { %> <% foundUser.bookshelf.forEach((item) => { %>
      <div class="col-6 col-md-3 col-lg-2 book-card">
        <div class="card shadow">
          <div class="position-relative">
            <% if (currentUser && currentUser._id.equals(foundUser._id)) { %>
            <form
              action="/users/<%= currentUser._id %>/bookshelf/<%= item.book._id %>?_method=DELETE"
              method="POST"
              class="position-absolute top-0 end-0"
            >
              <button class="btn btn-sm btn-danger">X</button>
            </form>
            <%}%>
          </div>
          <!-- <div class="card-body"> -->
          <a href="/books/<%= item.book._id %>">
            <img
              src="<%= item.book.image %>"
              alt="<%= item.book.title %> Image"
              class="img-thumbnail img-fluid"
            />
          </a>
          <!-- </div> -->
        </div>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
  <!-- User's Book Reviews -->
  <div>
    <h3 class="mt-5 mb-3 mb-md-4"><strong>Reviewed:</strong></h3>
    <% if (userReviews && userReviews.length > 0) { %> <%
    userReviews.forEach((review) => { %>
    <div class="card shadow mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <a href="/books/<%= review.book._id %>"><%= review.book.title %></a>
        </h5>
        <p class="starability-result" data-rating="<%= review.rating %>">
          <%= review.rating %>
        </p>
        <p><%= review.body %></p>
        <!-- Edit/delete Reviews -->
        <% if (currentUser && review.author.equals(currentUser._id) ||
        currentUser && currentUser.isAdmin) { %>
        <form
          action="/books/<%= review.book._id %>/reviews/<%= review._id %>/edit"
          method="GET"
          class="d-inline"
        >
          <button class="btn btn-sm btn-warning mb-3 ms-2">Edit</button>
        </form>
        <form
          action="/books/<%= review.book._id %>/reviews/<%= review._id %>/?_method=DELETE"
          method="POST"
          class="d-inline"
        >
          <button class="btn btn-sm btn-danger mb-3 ms-2">Delete</button>
        </form>

        <% } %>
        <!-- Edit/delete Reviews -->
      </div>
    </div>

    <% }); %> <% } else { %>
    <p>You have not posted any book reviews yet.</p>
    <% } %>
  </div>
  <!-- Delete User Account Button -->
  <div class="mt-5 mb-3 text-center">
    <form action="/users/<%= foundUser._id %>?_method=DELETE" method="POST">
      <%if(currentUser && currentUser._id.equals(foundUser._id)){%>
      <button class="btn btn-danger">Delete Account</button>
      <% } %>
    </form>
  </div>
</div>
