<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/starheart-rating.css" />
<style>
  #avatar-img {
    height: 10em;
    width: 10em;
    object-fit: cover;
  }
  .book-card .card {
    max-width: 50%;
    max-height: fit-content;
    padding: 0;
  }
  .book-card .card-body {
    display: flex;
    flex-direction: column;
  }

  .book-card img {
    margin: 0;
    width: 15rem;
    height: 12rem;
    /* max-height: 10rem; */
    /* object-fit: cover; */
  }
</style>

<div class="container mb-5">
  <h2 class="text-primary"><%=foundUser.firstname%> <%=foundUser.lastname%></h2>
  <img
    class="img-thumbnail my-3"
    id="avatar-img"
    src="<%= foundUser.avatar ? foundUser.avatar : process.env.DEFAULT_AVATAR_URL %>"
    alt="user display image"
  />
  <h3 class="mt-5">Bookshelf:</h3>
  <div class="row">
    <% if (foundUser.bookshelf.length === 0) { %> <% if (currentUser &&
    currentUser._id.equals(foundUser._id)) { %>
    <p>Your bookshelf is currently empty. <a href="/books">Add Books</a></p>
    <% } else { %>
    <p>This user's bookshelf is currently empty.</p>
    <% } %> <% } else { %> <% foundUser.bookshelf.forEach((item) => { %>
    <div class="col-md-3 book-card">
      <div class="card shadow">
        <div class="position-relative">
          <form
            action="/users/<%= currentUser._id %>/bookshelf/<%= item.book._id %>?_method=DELETE"
            method="POST"
            class="position-absolute top-0 end-0"
          >
            <button class="btn btn-sm btn-danger">X</button>
          </form>
        </div>
        <div class="card-body">
          <a href="/books/<%= item.book._id %>">
            <img
              src="<%= item.book.image %>"
              alt="<%= item.book.title %> Image"
              class="img-thumbnail"
            />
          </a>
        </div>
      </div>
    </div>
    <% }); %> <% } %>
  </div>

  <h3 class="mt-5">Reviewed:</h3>
  <% if (userReviews && userReviews.length > 0) { %> <%
  userReviews.forEach((review) => { %>
  <div class="card shadow mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/books/<%= review.book._id %>"><%= review.book.title %></a>
      </h5>
      <p class="starability-result" data-rating="<%= review.rating %>">
        <%= review.rating %>
      </p>
      <p><%= review.body %></p>
    </div>
  </div>
  <% }); %> <% } else { %>
  <p>You have not posted any book reviews yet.</p>
  <% } %>
</div>
