<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/starheart-rating.css" />
<style>
  #avatar-img {
    height: 12.5em;
    width: 12.5em;
  }
</style>

<div class="container mb-5">
  <h2 class="text-primary"><%=foundUser.firstname%> <%=foundUser.lastname%></h2>
  <img
    class="img-thumbnail my-3"
    id="avatar-img"
    src="<%=foundUser.avatar%>"
    alt="user display image"
  />
  <h3>Bookshelf:</h3>
  <ul>
    <% if (foundUser.bookshelf.length > 0) { %> <%
    foundUser.bookshelf.forEach((item) => { %>
    <li><%= item.book.title %></li>
    <% }); %> <% } else { %>
    <p>Your bookshelf is currently empty.</p>
    <% } %>
  </ul>
  <% if (currentUser && currentUser._id.equals(foundUser._id)) { %> <% if
  (foundUser.bookshelf.length === 0) { %>
  <p>Your bookshelf is currently empty. <a href="/books">Add Books</a></p>
  <% } %> <% } else { %>
  <p>This user's bookshelf is currently empty. Check back later!</p>
  <% } %>
  <h3>Reviewed:</h3>
  <% if (userReviews && userReviews.length > 0) { %> <%
  userReviews.forEach((review) => { %>
  <div class="card shadow mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/books/<%= review.book._id %>"><%= review.book.title %></a>
      </h5>
      <p class="starability-result" data-rating="<%= review.rating %>">
        <%= review.rating %>
      </p>
      <p><%= review.body %></p>
    </div>
  </div>
  <% }); %> <% } else { %>
  <p>You have not posted any book reviews yet.</p>
  <% } %>
</div>
