<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/starheart-rating.css" />
<style>
  #avatar-img {
    height: 12.5em;
    width: 12.5em;
  }
</style>

<div class="container">
  <h2 class="text-primary"><%=foundUser.firstname%> <%=foundUser.lastname%></h2>
  <img
    class="img-thumbnail my-3"
    id="avatar-img"
    src="<%=foundUser.avatar%>"
    alt="user display image"
  />
  <h3>Bookshelf: TBD</h3>
  <h3>User Reviews:</h3>
  <% if (userReviews && userReviews.length > 0) { %> <%
  userReviews.forEach((review) => { %>
  <div class="card shadow mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/books/<%= review.book._id %>"><%= review.book.title %></a>
      </h5>
      <p class="starability-result" data-rating="<%= review.rating %>">
        <%= review.rating %>
      </p>
      <p><%= review.body %></p>
    </div>
  </div>
  <% }); %> <% } else { %>
  <p>No reviews available for this user.</p>
  <% } %>
</div>
